*{
    font-family: "이서윤체";
}

html{
    margin: 0;
    padding: 0;
    height: 99%;
    background-color: #ffffff;
}


.container::-webkit-scrollbar {
    width: 10px;
}


.container::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

body{
    height: 99%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.spring_span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50px / 50px;
    border: 1px solid #cbcbcb;
}

.left_container{
    height: 95%;
    width: 30%;
    background-color: #ffffff;
    display: inline-block;
    border-right: #222222 dashed 2px;
    float: left;
}

.right_container{
    height: 95%;
    width: 69%;
    background-color: #ffffff;
    display: inline-block;
    float: left;
}

.category_title{
    display: inline-block;
}

.category_label{
    display: block;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #222222;
    background-color: transparent;
}
.category_label:hover{
    cursor: pointer;
}

.category_detail{
    display: inline-block;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #222222;
    background-color: transparent;
    width: calc(98% - 40px);
}

.checkbox_text:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}

.detail_date{
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right:5%
}

.selected_category{
    background-color: #fff8bb;
}

.category_button{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.category_button:hover{
    cursor: pointer;
    transform:scale(1.1)
}

.category_button_container{
    float: right;
    margin-right: 10px;
}

.float_right{
    float: right;
}

.window_header{
    height: 15px;
    width: calc(98% - 100px);
    display: inline-block;
    -webkit-app-region: drag;
    padding-left: 5px;
    padding-top: 5px;
}
.close_div{
    width: 100px;
    display: inline-block;
}

#close_button{
    background-color: white;
    width: 24px;
    height: 20px;
}

#close_button:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}

#close_button:active{
    background-color: #342424;
    color:white;
}

.public_button{
    border-radius: 40px / 50px;
    background-color: white;
    border: 2px solid #5f5f5f;
    margin-right: 13px;
}

.mainframe_button{
    margin-right: -2px !important;
}

.public_button:hover{
    color: white;
    background-color: #5f5f5f;
    cursor: pointer;
}

.todo_detail{
    height: 100%;
}

.todo_detail_top{
    overflow: auto;
    height: 93%;
    width: 100%;
    background-color:#ffffff;
}

.todo_detail_bottom{
    height: 4%;
    width: 100%;
    background-color: #ffffff;
}

.todo_detail_text{
    display: block;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #222222;
    background-color: transparent;
    width: 95%;
}

.todo_detail_row{
    display: inline-block;
    align-items: center;
    width: 99%;
}

.timeline_detail{
    height: 100%;
}

.timeline_detail_top{
    overflow: auto;
    height: 93%;
    width: 100%;
    background-color:#ffffff;
}

.file_detail{
    height: 100%;
}

.file_detail_top{
    overflow: auto;
    height: 93%;
    width: 100%;
    background-color:#ffffff;
}


.checkbox input {
   display: none;
}

.checkbox_icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #222222;
    border-radius: 10px 10px;
    position: relative;
    cursor: pointer;
    top:2px;
    left:7px;
}

.checkbox_icon::before, .checkbox_icon::after {
   content: '';
   display: inline-block;
   width: 2px;
   height: 0;
   background-color: red;
   position: absolute;
   transform-origin: left top;
}

.checkbox_icon::before {
   top: 1px;
   left: -3px;
   transform: rotate(-45deg);
}

.checkbox_icon::after {
   top: 9px;
   left: 5px;
   transform: rotate(-135deg);
}

.checkbox input:checked + .checkbox_icon {
   border-color: red;
}

.checkbox input:checked + .checkbox_icon::before {
   height: 10px;
   transition: all 0.15s ease;
}

.checkbox input:checked + .checkbox_icon::after {
   height: 20px;
   transition: all 0.15s ease 0.15s;
}

.delete_detail{
    width: 25px;
}

.delete_detail:hover{
    font-weight: bold;
    cursor:pointer;
}

.todoModifyInput{
    border: none;
    outline: none;
    font-size:16px;
    height: 100%;
    width: 100%;
}

.fileUpload_category_title{
    font-size:20px
}

.fileUpload_category_title:hover{
    font-weight: bold;
    cursor: pointer;
}

.fileUpload_category_container{
    height: 40px;
    line-height: 40px;
}

.timeline_category_title{
    margin: auto;
    font-size:20px
}

.timeline_category_title:hover{
    font-weight: bold;
    cursor: pointer;
}

.timeline_category_container{
    height: 40px;
    line-height: 40px;
}

.todo_category_title{
    font-size:20px;
}
.todo_category_title_container{
    margin-bottom:20px
}

.todo_category_container{
    padding-top: 10px;
}

