.login_body{
    background-color: #ffffff;
}
.head_title{
    color: #404040;
    border-bottom: #437efa 1px solid;
}
.att_border_bottom{
    height: 30px;
    padding-bottom: 5px;
    border-bottom: #437efa 1px solid;
}

.spring_span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50px / 50px;
    border: 1px solid #111111;
}

.window_header{
    height: 20px;
    width: 90%;
    display: inline-block;
    -webkit-app-region: drag;
}
.close_div{
    width: 8%;
    display: inline-block;
}

#close_button{
    background-color: white;
    width: 24px;
    height: 20px;
}

#close_button:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}

#close_button:active{
    background-color: #111111;
    color:white;
}

.notice_wrong_account{
    display: none;
    color: #ea0000;
    font-size: 8pt;
}