.window_header{
    height: 20px;
    width: 90%;
    display: inline-block;
    -webkit-app-region: drag;
}
.close_div{
    width: 8%;
    display: inline-block;
}

#close_button{
    background-color: white;
    width: 24px;
    height: 20px;
}

#close_button:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}

#close_button:active{
    background-color: #111111;
    color:white;
}