html{
    margin: 0;
    padding: 0;
    height: 99%;
}

body{
    height: 99%;
    width: 98%;
}

.left_container{
    height: 99%;
    width: 30%;
    background-color: #b9dff6;
    display: inline-block;
    float: left;
}

.right_container{
    height: 99%;
    width: 69%;
    background-color: #cbdbcc;
    display: inline-block;
    float: left;
}

.category_title{
    display: inline-block;
}

.category_label{
    display: block;
    font-weight: bold;
    font-size: large;
}
.category_label:hover{
    cursor: pointer;
}

.category_button:hover{
    cursor: pointer;
}

.category_button_container{
    float:right
}