html{
    margin: 0;
    padding: 0;
    height: 99%;
}

body{
    height: 99%;
    width: 98%;
}

.left_container{
    height: 99%;
    width: 15%;
    background-color: #b9dff6;
    display: inline-block;
}

.right_container{
    height: 99%;
    width: 83%;
    background-color: #cbdbcc;
    display: inline-block;
}

.category_title{
    display: inline-block;
}